<div class="formulaire">
  <div class="inscription">Inscription</div>
  <form (ngSubmit)="onSubmit()">
    <div class="user-details">

      <div class="input-box">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" [(ngModel)]="email">
      </div>

      <div class="input-box">
        <label for="password">Mot De Passe</label>
        <input type="password" name="password" id="password" [(ngModel)]="password">
      </div>

      <div class="save">
        <button type="reset">Annuler</button>
        <button type="submit">Se Connecter</button>
      </div>
    </div>
  </form>
</div>
