
<!-- <div class="container">
  <div class="gallery">
    <img src="../../assets/pression.jpg" alt="many clothes and pictures">
    <img src="../../assets/poids.jpg" alt="someone preparing artisanal coffee">
    <img src="../../assets/slide1.jpg" alt="some tee">
    <img src="../../assets/fich.png" alt="an empty table in a restaurant">
    <img src="../../assets/fich.png" alt="a laptop with a notebook">
    <img src="../../assets/pression.jpg" alt="a laptop and many books around it">
  </div>
</div> -->
<section class="section1">
  <div class="text" ><h4>
    <p class="item-1">"La meilleure façon de prédire l'avenir de votre santé est de la créer vous-même,
      <br> un choix sain à la fois."</p>

    <p class="item-2">Celui qui a la santé a l’espoir, et celui qui a de l’espoir a tout.</p>

    <p class="item-3">La pression artérielle ou encore la tension artérielle, correspond à la pression exercée par le sang sur la paroi des artères,</p></h4>
  </div>
</section>

<section class="section2">
  <div class="gallery-container">
    <div class="gallery">
    <img src="../../assets/illustrations/profile.jpg" alt="many clothes and pictures">
    <img src="../../assets/illustrations/profile_1.jpg" alt="someone preparing artisanal coffee">
    <img src="../../assets/pression.jpg" alt="some tee">
    <img src="../../assets/slide1.jpg" alt="an empty table in a restaurant">
    <img src="../../assets/bonhomme.jpeg" alt="a laptop with a notebook">
    <img src="../../assets/poids.jpg" alt="a laptop and many books around it">
  </div>
  </div>
</section>




