
<!-- <div class="container">
  <div class="gallery">
    <img src="../../assets/pression.jpg" alt="many clothes and pictures">
    <img src="../../assets/poids.jpg" alt="someone preparing artisanal coffee">
    <img src="../../assets/slide1.jpg" alt="some tee">
    <img src="../../assets/fich.png" alt="an empty table in a restaurant">
    <img src="../../assets/fich.png" alt="a laptop with a notebook">
    <img src="../../assets/pression.jpg" alt="a laptop and many books around it">
  </div>
</div> -->

<div class="text" ><h2>
  "La meilleure façon de prédire l'avenir de votre santé est de la créer vous-même, un choix sain à la fois."
</h2></div>

<div class="gallery-container">
  <div class="gallery">
  <img src="../../assets/illustrations/profile.jpg" alt="many clothes and pictures">
  <img src="../../assets/illustrations/profile_1.jpg" alt="someone preparing artisanal coffee">
  <img src="../../assets/pression.jpg" alt="some tee">
  <img src="../../assets/slide1.jpg" alt="an empty table in a restaurant">
  <img src="../../assets/bonhomme.jpeg" alt="a laptop with a notebook">
  <img src="../../assets/poids.jpg" alt="a laptop and many books around it">
</div>
</div>



