<h4>TABLEAU DE BORD</h4>
<div class="user-info">
  <div id="chart">
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [yaxis]="chartOptions.yaxis"
    [legend]="chartOptions.legend"
    [fill]="chartOptions.fill"
    [stroke]="chartOptions.stroke"
    [tooltip]="chartOptions.tooltip"
    [xaxis]="chartOptions.xaxis"
    [fill]="chartOptions.fill"
    [colors]="chartOptions.colors">
 </apx-chart>
</div>
<!-- <div class="css-after">
  <div>
      <img src="../../assets/patient/profile.jpg">
  </div>

  <p><b>Souleymane Fomba</b></p>
</div> -->
</div>
<br>

<!-- <div id="chart" class="chart-circle">
  <apx-chart
    [series]="chartOptions1.series"
    [chart]="chartOptions1.chart"
    [fill]="chartOptions1.fill"
    [stroke]="chartOptions1.stroke"
    [responsive]="chartOptions1.responsive"
  ></apx-chart>
</div> -->
